.gradle/
build/
*/build/
app/build/
gradle.properties

local.properties

.idea/
*.iml
*.iws
*.ipr
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/libraries
.idea/caches/
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/misc.xml

.kotlin/
.kotlintest/
kotlinx-serialization-compiler-plugin.version

.externalNativeBuild/
.cxx/

bin/
gen/
out/

*.log

captures/

.DS_Store

*.iws
*.ipr
*.hprof

*.jks
*.keystore

google-services.json
app/google-services.json

vcs.xml 